@page
@using EOCS_User_Interface.Controller
@model IndexModel
@{
    ViewData["Title"] = "User Portal";
}

<div class="text-center">
    <h1 class="display-4">User Portal</h1>
    <div>
        <label>Name:</label>
        <p>@User.Claims.First(claim => claim.Type == "name").Value</p>
    </div>
    <div>
        <label>Control contact synchronization:</label>
        <button onclick="window.location.href = '/SyncController';">Control</button>
    </div>
</div>
